// @import font-family

html,
body, 
#root {
    height: 100dvh;
    width: 100%;
    font-family: 'Source Sans Pro', sans-serif;
};

.app,
.content {
    height: calc(100dvh - 10px);
    width: 100%;
    overflow: hidden;
}

.main {
    height: 92%;
    overflow: auto;
    padding: 1.2rem;
}

.app {
    position: relative;
    display: flex;
}

::-webkit-scrollbar {
    width: 6px;
}

::-webkit-scrollbar-track {
    background: #1F2A40;
}

::-webkit-scrollbar-thumb {
    background: #888;
}

::-webkit-scrollbar-track:hover {
    background: #555;
}

@media screen and (max-width: "600px") {
    .main {
        padding: 10px;
    }
}